@tailwind base;
@tailwind components;
@tailwind utilities;

.responseHeader {
    @apply text-darkGray text-[0.7rem] md:text-[0.8rem] tracking-widest;
}

.responseDiv {
    @apply midLg:pl-8 midLg:border-l-2 midLg:w-fit;
}

.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: all 0.5s ease;
}
  
.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: all 0.5s ease;
}